body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb (0, 255, 0);
}

#title {
    font-size: 2.5em;
    margin: 20px 0;
}

#pet img {
    display: flex;
    width: 300px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

